/composer.lock
/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.idea/*
/public/images/*
/public/images/
.gitignore
/config/snappy.php
snappy.php
/public/lib/*
/public/lib/
/storage
/resources/views/ouvidoria/arquivos_dinamicos/
/resources/views/ouvidoria/arquivos_dinamicos/*
/resources/views/ouvidoria/reports/
/resources/views/ouvidoria/reports/*